[Desktop Entry]
Type=Application
Name=Qactus
GenericName=OBS client
Comment=A Qt-based OBS client
Icon=qactus
Exec=qactus
Categories=Network;Monitor;
